.flip-card {
	background-color: transparent;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-action .flip-card-inner {
	transform: rotateY(180deg);
}

.Pokecard-front,
.Pokecard-back {
	width: 200px;
	padding: 10px;
	margin: 1rem;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	text-align: center;
	background-color: #fff;
	border-radius: 3px;
	backface-visibility: hidden;
}

.Pokecard-data {
	font-size: 80%;
}

.Pokecard-title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.Pokecard-front {
	position: absolute;
	cursor: pointer;
}

.Pokecard-back {
	transform: rotateY(180deg);
}
